In [3]:
import sqlite3
conn= sqlite3.connect('db.db')
cursor=conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS details(name TEXT,id int,age int,gender TEXT,dob TEXT,qualification TEXT)")
#cursor.execute("UPDATE details SET name='abc' age=20 gender='male' dob='20-04-2001' qualification='b.tech' where id=5677")
cursor.execute("INSERT INTO details values (?,?,?,?,?,?)",('XXX',5675,23,'female','27-08-2001','B.E'))
cursor.execute("INSERT INTO details values (?,?,?,?,?,?)",('yyyy',5677,24,'male','23-09-2001','B.E'))
cursor.execute("UPDATE details SET name='abc',age=20,gender='male',dob='20-04-2001',qualification='b.tech' where id=5677")
conn.commit()
cursor=conn.execute("SELECT * FROM details")
for row in cursor:
    print(row)
conn.close()

('XXX', 5675, 23, 'female', '27-08-2001', 'B.E')
('abc', 5677, 20, 'male', '20-04-2001', 'b.tech')
('XXX', 5675, 23, 'female', '27-08-2001', 'B.E')
('abc', 5677, 20, 'male', '20-04-2001', 'b.tech')
('XXX', 5675, 23, 'female', '27-08-2001', 'B.E')
('abc', 5677, 20, 'male', '20-04-2001', 'b.tech')
('XXX', 5675, 23, 'female', '27-08-2001', 'B.E')
('abc', 5677, 20, 'male', '20-04-2001', 'b.tech')
('XXX', 5675, 23, 'female', '27-08-2001', 'B.E')
('abc', 5677, 20, 'male', '20-04-2001', 'b.tech')