#1. Develop a Python Application to get the number of units consumed of 5 users.
The charges are given below and compute the total amount to be paid by the user. 

Unit 	Charge/Unit
Upto 199	@1.20
200 and above but less than 400	@1.50
400 and above but less than 600	@1.80
600 and above	@2.00
If bill exceeds 400 then surcharge of 15% will be charged and the minimum bill should be Rs.100

In [16]:
def units():
    x0033=int(input("Enter Units Consumed = "))
    return x0033;
def details():
    custID=input("Customer ID = ")
    custName=input("Customer Name = ")
    monthName=input("Month of billing = ")
    return ;
def calc():
    x0033=units()
    details()
    y0033 = 0
    if x0033<=199:
        y0033=x0033*1.2
    if(y0033<100):
        print("bill = 100 rupees \n" )
    else:
        print("bill =", y0033 ," rupees\n")
    if x0033>199 and x0033<400:
        y0033=200*1.2 + (x0033-200)*1.5
    if(y0033>400):
        print("bill = ", y0033+0.15*y0033, " rupees\n")
    else:
        print("bill = ", y0033, " rupees\n")
    if x0033>=400 and x0033<600 :
        y0033=199*1.2 + 200*1.5 + (x0033-399)*1.8
        print("bill =", y0033+0.15*y0033, " rupees \n")
    if x0033>250 :
        y0033=199*1.2 + 200*1.5 + 200*1.8 + (x0033-599)*2
    print("bill = ", y0033+0.15*y0033, " rupees \n")
i=0
for i in range(5):
    print("\nBill for user ", i ,"\n")
    calc()

Bill for user  0

Enter Units Consumed = 100
Customer ID = 123
Customer Name = manik
Month of billing = jan
bill = 120.0  rupees

bill =  120.0  rupees

bill =  138.0  rupees


Bill for user  1

Enter Units Consumed = 91
Customer ID = 12345
Customer Name = abcd
Month of billing = feb
bill = 109.2  rupees

bill =  109.2  rupees

bill =  125.58  rupees


Bill for user  2

Enter Units Consumed = 1000
Customer ID = 123456
Customer Name = bbbbbb
Month of billing = march
bill = 100 rupees

bill =  0  rupees

bill =  1955.9199999999998  rupees


Bill for user  3

Enter Units Consumed = 250
Customer ID = 12345678
Customer Name = name
Month of billing = april
bill = 100 rupees

bill =  315.0  rupees

bill =  362.25  rupees


Bill for user  4

Enter Units Consumed = 999
Customer ID = dddd
Customer Name = pavan
Month of billing = april
bill = 100 rupees

bill =  0  rupees

bill =  1953.62  rupees

To find the cube of a number

In [14]:
def cube(n0033):
    return n0033*n0033*n0033
ans0033=lambda n0033:n0033*n0033*n0033
 
print("The cube of 5 using def function:",cube(5),"\nThe cube of 9 using lambda: ",ans0033(9))

The cube of 5 using def function: 125
The cube of 9 using lambda:  729

Given two lists. In first  list we have to convert the numbers from celsius to fahreheit.In second list we have to convert from fahrenheit to celcius

In [13]:
def to_f0033(c0033):
    f0033=0
    f0033=c0033*1.800+32
    return f0033
def to_c0033(f0033):
    c0033=0
    c0033=(5/9)*(f0033-32)
    return c0033
lst10033=[21,34,12,14,15]
 
lst30033=[90,79,60,89,99]
print("The celsius temperatures are: \n",lst10033)
lst20033=list(map(to_f0033,lst10033))
print("the converted fahreheit temperatures are: \n",lst20033)
 
print("The fahrenheit temperatures are: \n",lst30033)
lst40033=list(map(to_c0033,lst30033))
print("the converted celsius temperatures are: \n",lst40033)

The celsius temperatures are:
 [21, 34, 12, 14, 15]
the converted fahreheit temperatures are:
 [69.80000000000001, 93.2, 53.6, 57.2, 59.0]
The fahrenheit temperatures are:
 [90, 79, 60, 89, 99]
the converted celsius temperatures are:
 [32.22222222222222, 26.11111111111111, 15.555555555555557, 31.666666666666668, 37.22222222222222]

Given a number n we have to print the even numbers in the series and then odd numbers

In [12]:
def fibonacci(n0033):
    if n0033<=1:
        return n0033
    else:
        return (fibonacci(n0033-1) + fibonacci(n0033-2))
      
n0033=int(input("enter the range of series: "))
print("The fibonacci series are : ")
list10033=[]
for i in range(n0033):
    #print(fibonacci(i))
    list10033.insert(i,fibonacci(i))
print(list10033)
list20033=list(filter(lambda a:a%2!=0,list10033))
list30033=list(filter(lambda a:a%2==0,list10033))
print("\nThe even numbers of the given range of fibonacci series are : ",list30033)
print("\nThe odd numbers of the given range of fibonacci series are : ",list20033)

enter the range of series: 11
The fibonacci series are :
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

The even numbers of the given range of fibonacci series are :  [0, 2, 8, 34]

The odd numbers of the given range of fibonacci series are :  [1, 1, 3, 5, 13, 21, 55]

To find the numbers from 1 to n^2 and skip the multiples of 5

In [4]:
n0033=(int)(input())
i0033=1
for i0033 in range(n0033*n0033):
    if i0033%5==0:
        continue
    print(i0033)

10
1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

To find sum of the digits of a given number

In [11]:
n0033=(int)(input("Enter a number: "))
t0033=n0033
s0033=0
while t0033!=0:
    r=t0033%10
    s0033=s0033+r
    t0033=(int)(t0033/10)
print("Sum of digits: ",s0033,end="")

Enter a number: 22201
Sum of digits:  7

1: Suppose the cover price of a book is 24.95 dollars , but bookstores get a
40% discount. Shipping costs 3
dollars for the first copy and 75 cents for each additional copy. What is the
total wholesale cost for 60 copies?

In [3]:
cost_0033=(24.95*60)
dis_0033=cost_0033*0.4
tot_0033=cost_0033-dis_0033+3+(59*0.75)
print(tot_0033)

945.4499999999999

2: Hourly workers typically earn overtime when they work more then 40 hours per
week. For example, overtime
pay might be 150% of the regular salary for the additional hours. Write a
Python program that will ask the user
for their hourly wage, then for the hours they have worked in the past week.
With these two values print the
wages earned for the week.

In [10]:
wage_0033=float(input('Wages per month:'))
hour_0033=int(input('Number of hours worked in a month: '))
payot_0033=0
if(hour_0033>40):
    overtime_0033=hour_0033-40
    payot_0033=overtime_0033*(1.5*wage_0033)
    tot_sal_0033=payot_0033+(wage_0033*40)
print(payot_0033)
print("the total"+str(tot_sal_0033))

Wages per month:100
Number of hours worked in a month: 200
24000.0
the total28000.0

To print whether given number is pythogoreas triplet  or not

In [9]:
a0032=int(input())
b0032=int(input())
c0032=int(input())
if(a0032 ** 2 + b0032 ** 2 == c0032** 2):
    print("THEY ARE PYTHAGOREAN TRIPLET")
else:
    print("THEY ARE not PYTHAGOREAN TRIPLET")

2
3
5
THEY ARE not PYTHAGOREAN TRIPLET

You hare given with two strings s1,s2.Write a python program to fing two strings are anagram or not

In [8]:
def areAnagram(str10033,str20033):
    n10033 = len(str10033)
    n20033 = len(str20033)
    if n10033 != n20033:
        return 0
    str10033 = sorted(str10033)
    str20033 = sorted(str20033)
    for i in range(0, n10033):
        if str10033[i] != str20033[i]:
            return 0
    return 1
str10033=input("\nEnter the first string = ")
str20033=input("\nEnter the second string = ")
if areAnagram(str10033, str20033):
    print("\nThe two strings are anagram of each other")
else:
    print("\nThe two strings are not anagram of each other")

Enter the first string = datta

Enter the second string = attad

The two strings are anagram of each other